*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0F766E,#115E59);
    padding:20px;
}

.auth-logo{
    width:85px;
    height:85px;
    margin:0 auto 25px;
    border-radius:50%;
    background:#E6FFFB;
    color:#0F766E;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    box-shadow:0 10px 25px rgba(15,118,110,.20);
}

/* Card */

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-card{
    width:100%;
    max-width:430px;
    background:white;
    border-radius:20px;
    padding:40px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
    transition:.3s;
}

.auth-card:hover{
    transform:translateY(-5px);
}

/* Heading */

.auth-card h1{
    text-align:center;
    color:#0F766E;
    font-size:34px;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#64748B;
    margin-bottom:35px;
    font-size:15px;
}

/* Form */

.form-group{
    margin-bottom:22px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:#334155;
}

.form-group input{
    width:100%;
    padding:14px 16px;
    border:1px solid #CBD5E1;
    border-radius:12px;
    font-size:15px;
    transition:.3s;
}

.form-group input:focus{
    outline:none;
    border-color:#0F766E;
    box-shadow:0 0 0 4px rgba(15,118,110,.15);
}

/* Button */

.auth-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#0F766E;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.auth-btn:hover{
    background:#115E59;
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(15,118,110,.3);
}

/* Footer */

.bottom-text{
    text-align:center;
    margin-top:25px;
    color:#64748B;
}

.bottom-text a{
    color:#0F766E;
    text-decoration:none;
    font-weight:600;
}

.bottom-text a:hover{
    text-decoration:underline;
}

/* responsive */

@media(max-width:500px){

.auth-card{
    padding:30px 25px;
}

.auth-card h1{
    font-size:28px;
}
}